# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
 
# Jupyter Notebook checkpoints and LSP docs
.ipynb_checkpoints/
.virtual_documents/

# Anaconda local metadata
anaconda_projects/

# Python environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Model pickle files
*.pkl
